@font-face {
  font-family: "Fold Grotesque Pro";
  src:
    local("Fold Grotesque Pro"),
    url("./fonts/font.ttf"),
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Fold Grotesque Pro";
  color: white;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9806d;
  padding: 1rem;
}

.oig-image {
  max-width: 450px;
  max-height: 450px;
  position: absolute;
  width: 100%;
}

.contact-text {
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Fold Grotesque Pro';
  bottom: 100px;
  padding: 10px;
  background: #f9806d;
}

.canvas {
  width: 100%;
  max-width: 400px;
}